/* Resetování základních vlastností */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8e8b6f;
    --primary-hover: #a3a380;
    --text-color: #fff;
    --text-muted: #c0c0c0;
    --background-dark: #333;
    --background-light: #222;
}

/* Základní styl pro všechny sekce */
body, button, h1, h2, p, .product-name, .product-description, .product-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1, .product-title {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    color: #000;
}

/* Sekce Welcome */
.welcome-body {
    font-family: "Protest Strike", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/background.jpg');
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

.welcome-title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.welcome-subtitle {
    font-size: 25px;
    margin-bottom: 30px;
}

.welcome-button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.welcome-button:hover {
    background-color: var(--primary-hover);
}

/* Sekce Produktů */
.Popular_product-section {
    padding: 50px;
    background-color: var(--background-dark);
    text-align: center;
}

.product-title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 40px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
}

.product-image {
    position: relative;
    margin-bottom: 20px;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #111;
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
}

.product-name {
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.product-description {
    color: var(--text-muted);
    font-size: 15px;
    text-align: left;
}

.product-price {
    color: var(--text-color);
    font-size: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.add-to-cart_Btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart_Btn:hover {
    background-color: var(--primary-hover);
}

/* Media Queries pro responzivitu */

/* Tablety - střední obrazovky */
@media (max-width: 992px) {
    .welcome-title {
        font-size: 2rem;
    }
    .welcome-subtitle {
        font-size: 20px;
    }
    .welcome-button {
        padding: 8px 30px;
        font-size: 16px;
    }
    .product-title {
        font-size: 2rem;
    }
    .product-card {
        min-width: 150px;
        max-width: 180px;
    }
}

/* Mobilní telefony - malé obrazovky */
@media (max-width: 768px) {
    .welcome-body {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .welcome-title {
        font-size: 1.8rem;
    }
    .welcome-subtitle {
        font-size: 18px;
    }
    .welcome-button {
        padding: 8px 20px;
        font-size: 16px;
    }
    .product-title {
        font-size: 1.8rem;
    }
    .product-grid {
        flex-direction: column;
    }
    .product-card {
        width: 90%;
        max-width: 250px;
        margin: 10px auto;
    }
}
